.chart__value {
    display: grid;
    grid-template-columns: 1fr 7px auto 1fr;
    gap: 10px;
    align-items: center;
}

.chart__value__bar {
    background-color: #d0d0d0;
    width: 100px;
    height: 3px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

.chart__value__bar > .chart__value__bar__line{
    height: 100%;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
}

.chart__value__bar__circle {
    width: 7px;
    height: 7px;
    border-radius: 7px;
}

.calories {
    background-color: hsl(33, 100%, 88%);
}

.proteins {
    background-color: hsl(26, 39%, 93%);
}

.fats {
    background-color: hsl(42, 100%, 67%);
}

.carbs {
    background-color: hsl(0, 96%, 62%);
}

.extra {
    background-color: hsl(0, 51%, 37%);
}


