.chart__value {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 10px;
    align-items: center;
}

.chart__value__bar {
    background-color: #d0d0d0;
    width: 100px;
    height: 3px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

.chart__value__bar > * {
    background-color: lightcoral;
    height: 100%;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
}
